<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />

    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/assets/apple-icon-180x180.png"
    />
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>Portfolio</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet" />
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Projects</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h2">03 : About me</h1>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <h3>Education</h3>
                    <h5>National University of Bangladesh</h5>
                    <p>
                      BSc(Hons) <br />
                      Department of Physics <br />2018-present
                    </p>

                    <h3>Skills</h3>
                    <p>
                      • Expertise: Python, JavaScript, ES6, ReactJS, Material
                      UI, Bootstrap, Styled-Components, Data structures,
                      Algorithms. <br />
                      • Comfortable:Django,Flask, MongoDB, NodeJS, ExpressJS,
                      SCSS etc. <br />
                      • Familiar: React Native, Chrome extensions, Redux, etc.
                      <br />
                      • Tools: Git, Github, Chrome Dev Tool, VS Code, PyCharm,
                      etc.
                    </p>

                    <a
                      href="https://www.linkedin.com/in/mahedi-hassan-shayek-10357a203/"
                      class="btn btn-default"
                      >Download Resume</a
                    >

                    <h3>Certificate and Licenses</h3>

                    <h4>Certificate of Selection (Web Development)</h4>
                    <p>Internshala</p>
                    <p>Issued 5 Nov 2021,No Expiration Date</p>
                    <p>
                      IdentifierCredential ID:
                      B09B9223-34E3-EC9A-F5F2-C3992661EFAF
                    </p>

                    <h4>Complete Web Development With Jhankar Mahbub</h4>
                    <p>Programming Hero</p>
                    <p>Issued Jun 2021,No Expiration Date</p>

                    <h4>Complete Python Developer in 2022: Zero to Mastery</h4>
                    <p>Zero To Mastery Academy</p>
                    <p>Issued Jan 2022,No Expiration Date</p>
                    <p>Credential ID UC-7e600ec6-cff3-444a-9795-89992ab014a7</p>

                    <h4>Complete Python Developer in 2022: Zero to Mastery</h4>
                    <p>Zero To Mastery Academy</p>
                    <p>Issued Apr 2022,No Expiration Date</p>
                    <p>Credential ID UC-c33649ca-11f0-4ade-8408-bed9a0b9f2d3</p>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img
                      src="./static/assets/images/profil2.png"
                      class="img-responsive"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>© Mahedi Hassan Shayek 2022, All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
  </body>
</html>
