<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />

    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/assets/apple-icon-180x180.png"
    />
    <link href="./static/assets/favicon.ico" rel="icon" />

    <title>Portfolio</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet" />
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>

    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <h1 class="h2">02 : Works</h1>
              <p>
                Animation-Nation, Mayevan, E-Shopping, Real Estate, Weather
                Detector, Space Slayer, PySnake and Project Py.
              </p>
            </div>
          </div>

          <div class="col-md-12">
            <div id="myCarousel" class="carousel slide projects-carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="./static/work.html"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/work01-hover.jpg"
                          alt="Image"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>001/008</h4>
                        <h3>Animation-Nation</h3>
                        <p>
                          This is an Open-Source project of Zero-To-Mastery.I am
                          so excited about this project to which i have
                          contributed successfully.A ZTM Challenge for
                          Hacktoberfest 2019.
                        </p>
                        <a
                          href="https://github.com/MHShayek/Animation-Nation"
                          class="btn btn-default"
                          >Github</a
                        >
                        <a
                          href="https://animation-nation.netlify.app/"
                          class="btn btn-default"
                          >Live</a
                        >
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a
                        href="./static/work.html"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/work01-hover.jpg"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/008</h4>
                        <h3>Mayevan</h3>
                        <p>
                          This is a Django project using
                          Django,Python3,PostgreSQL and deployed to Heroku.
                        </p>
                        <a
                          href="https://github.com/MHShayek/mayevan"
                          title=""
                          class="btn btn-default"
                          >Github</a
                        >
                        <a
                          href="https://mayevan.herokuapp.com/"
                          title=""
                          class="btn btn-default"
                          >Live</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="./static/work.html"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/work02-hover.jpg"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/008</h4>
                        <h3>E-Shopping</h3>
                        <p>
                          E-Shopping is a simple e-commerce website.In this
                          project,the main technologies are used :
                          ReactJS,CommerceJS,Stripe-payments and deployed to
                          Netlify.
                        </p>
                        <a
                          href="https://github.com/MHShayek/E-Shopping"
                          title=""
                          class="btn btn-default"
                          >Github</a
                        >
                        <a
                          href="https://eshopping-commercejs-stripe.netlify.app/"
                          title=""
                          class="btn btn-default"
                          >Live</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="./static/work.html"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/work02-hover.jpg"
                          alt="Image"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>004/008</h4>
                        <h3>Real Estate</h3>
                        <p>
                          Simple and minimal real estate project. In this
                          project,the main technologies are used :
                          ReactJS,NextJS,ChakraUI and deployed to Vercel.
                        </p>
                        <a
                          href="https://github.com/MHShayek/real-estate"
                          class="btn btn-default"
                          >Github</a
                        >
                        <a
                          href="https://real-estate-nine-amber.vercel.app/"
                          class="btn btn-default"
                          >Live</a
                        >
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a
                        href="./static/work.html"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/work01-hover.jpg"
                          alt="Image"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>005/008</h4>
                        <h3>Weather Detector</h3>
                        <p>
                          Weather Detector App Using Django,Python,
                          OpenWeatherMap Api,Sqlite3 And Deployed To Heroku.
                        </p>
                        <a
                          href="https://github.com/MHShayek/DjWeather"
                          title=""
                          class="btn btn-default"
                          >Github</a
                        >
                        <a
                          href="https://djweatherdetector.herokuapp.com/"
                          class="btn btn-default"
                          >Live</a
                        >
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a
                        href="./static/work.html"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/work03-hover.jpg"
                          alt="Image"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>006/008</h4>
                        <h3>Space Slayer</h3>
                        <p>
                          Space Slayer is a simple game project using Python3,
                          PyGame and Gui.
                        </p>
                        <a
                          href="https://github.com/MHShayek/space-slayer"
                          class="btn btn-default"
                          >Github</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="./static/work.html"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/work02-hover.jpg"
                          alt="Image"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>007/008</h4>
                        <h3>PySnake</h3>
                        <p>
                          PySnake is a simple game project using Python3,PyGame
                          and Gui.
                        </p>
                        <a
                          href="https://github.com/MHShayek/PySnake"
                          class="btn btn-default"
                          >Github</a
                        >
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a
                        href="./static/work.html"
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/work01-hover.jpg"
                          alt="Image"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>008/008</h4>
                        <h3>Project Py</h3>
                        <p>
                          projectpy is a collection of some cool and useful
                          Python based project.
                        </p>
                        <a
                          href="https://github.com/MHShayek/projectpy"
                          title=""
                          class="btn btn-default"
                          >Github</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a
                class="left carousel-control"
                href="#myCarousel"
                data-slide="prev"
                >‹</a
              >

              <a
                class="right carousel-control"
                href="#myCarousel"
                data-slide="next"
                >›</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>© Mahedi Hassan Shayek 2022, All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
  </body>
</html>
